@model IEnumerable<LDHShop.ViewModels.HangHoaVM>

<h3>Có <b></b>@Model.Count() Sản phẩm</h3>

@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
<<<<<<< HEAD
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHH">
=======
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
>>>>>>> 91521a4b91d56f72fe25daeb76beb6add642cede
                <img src="~/img/HangHoa/@item.Hinh" class="img-fluid w-100 rounded-top" alt="@item.TenHH">
                </a>
            </div>
            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.TenLoai</div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
<<<<<<< HEAD
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHH">
                    <h4>@item.TenHH</h4>
                </a>
=======
                <h4>@item.TenHH</h4>
>>>>>>> 91521a4b91d56f72fe25daeb76beb6add642cede
                <p>@item.MoTa</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">@item.DonGia</p>
                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i>Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
}